body {
  margin: 0;
  font-family: FuturaPTMedium;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2b3233;
}

@font-face {
  font-family: "FuturaPTMedium";
  src: url("./fonts/FuturaPTMedium.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "FuturaPTBook";
  src: url("./fonts/FuturaPTBook.ttf");
  src: url("./fonts/FuturaPTBook.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 30px;
  height: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

h3 {
  font-family: Futura;
  letter-spacing: -1px;
  font-size: 20px;
}

p {
  font-family: "FuturaPTBook";
}

textarea {
  height: 300px;
  margin-bottom: 20px;
}

.header {
  background: #2b3233;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.content {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.note {
  border-radius: 5px;
  padding: 15px;
  margin-right: 8px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
